<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout1}" class="mypage">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/css/member.css}" rel="stylesheet">
</head>

<div layout:fragment="content">
    <div>
        <table class="table">
            <tr>
                <td>
                    <span id="getPImg"></span>
                    <input type="hidden" value="" id="currentPImg">
                    <div id="profileImgBtn">프로필 사진 변경</div>
                </td>
                <td>
                    <div>이메일: <span sec:authentication="principal.username"></span> </div>
                    <div>이름: <span th:text="${memberForm.name}"></span></div>
                    <div>번호: <span th:text="${memberForm.phone}"></span></div>
                    <div><a class="nav-link" href="/members/modify">회원정보수정</a></div>
                </td>
            </tr>
            <tr>
                <td><a class="dropdown-item" href="/dibs">❤ 찜한목록<span id="getCountDibs" style="display:none"></span></a></td>
                <td><a class="dropdown-item" href="/cart">🛒 장바구니<span id="getCount">()</span></a></td>
                <td><a class="dropdown-item" href="/orders">📑 내주문</a></td>
            </tr>
        </table>

        <p>총 포인트: <span th:text="${memberForm.totalPoint}">포인트를 불러오는 중...</span></p>

        <div id="notice" class="container tab-pane active notice">

            <hr />
            <a href="#noticePoint" data-toggle="collapse">포인트 사용 내역</a>
            <select id="pointDuration">
                <option value="1">1개월</option>
                <option value="3">3개월</option>
                <option value="6" selected>6개월</option>
                <option value="12">1년</option>
            </select>
            <hr />
            <div id="noticePoint" class="collapse" style="max-height:400px; overflow:auto;">
                <th:block th:if="${pointList.size() > 0}">
                    검색결과: [[${pointList.size()}]]건
                    <th:block th:each="item, status: ${pointList}">
                        <div class="card">
                            <span th:text="${#temporals.format(item.useDate, 'yyyy. MM. dd. HH시 mm분 ss초')}"></span>
                            <th:block th:if="${item.orderStatus=='challenge'}">
                                도전과제 : +[[${item.payPoint}]]
                            </th:block>
                            <th:block th:unless="${item.orderStatus=='challenge'}">
                                <th:block th:if="${item.payPoint>0}">
                                    <th:block th:if="${item.orderStatus=='ORDER'}">
                                        포인트 적립 : +[[${item.payPoint}]]
                                    </th:block>
                                    <th:block th:unless="${item.orderStatus=='ORDER'}">
                                        구매 취소 : +[[${item.payPoint}]]
                                    </th:block>
                                </th:block>
                                <th:block th:if="${item.payPoint<0}">
                                    구매 사용 : [[${item.payPoint}]]
                                </th:block>
                            </th:block>
                        </div>
                    </th:block>
                </th:block>
                <th:block th:if="${pointList.size() == 0}">
                    <div class="col-md-12 text-center">
                        <h4>결과 없음</h4>
                    </div>
                </th:block>
            </div>

        </div>
        
    </div>

    <div class="container mt-5">
        <h1>도전과제 달성 현황</h1>

        <div class="accordion" id="achievementsAccordion">

            <div class="card">
                <div class="card-header" id="challenge1">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseC1" aria-expanded="false" aria-controls="collapseC1">
                            도전과제 / 결제
                        </button>
                    </h5>
                </div>
                <div id="collapseC1" class="collapse" aria-labelledby="challenge1" data-parent="#achievementsAccordion">
                    <div class="card-body">
                        <p th:if="${challenge.usedTotalMoney < 100000}">도전과제: 10만원 이상 결제하세요</p>
                        <p th:if="${challenge.usedTotalMoney >= 100000 && challenge.achievementForMoney == 0}">
                            도전과제 1 보상을 받을 수 있습니다! <button class="btn btn-primary chal" data-challenge="pay10">1000P+프로필아이콘 받기</button>
                        </p>
                        <p th:if="${challenge.achievementForMoney >= 1}">10만원 이상 결제 달성 및 보상 받기 완료!</p>

                        <p th:if="${challenge.usedTotalMoney < 400000||challenge.achievementForMoney == 0}">도전과제: 40만원 이상 결제하세요</p>
                        <p th:if="${challenge.usedTotalMoney >= 400000 && challenge.achievementForMoney == 1}">
                            도전과제 2 보상을 받을 수 있습니다! <button class="btn btn-primary chal" data-challenge="pay40">5000P+프로필아이콘 받기</button>
                        </p>
                        <p th:if="${challenge.achievementForMoney >= 2}">40만원 이상 결제 달성 및 보상 받기 완료!</p>

                        <p th:if="${challenge.usedTotalMoney < 1000000||challenge.achievementForMoney <= 1}">도전과제: 100만원 이상 결제하세요</p>
                        <p th:if="${challenge.usedTotalMoney >= 1000000 && challenge.achievementForMoney == 2}">
                            도전과제 3 보상을 받을 수 있습니다! <button class="btn btn-primary chal" data-challenge="pay100">15000P+프로필아이콘 받기</button>
                        </p>
                        <p th:if="${challenge.achievementForMoney == 3}">100만원 이상 결제 달성 및 보상 받기 완료!</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="challenge2">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseC2" aria-expanded="false" aria-controls="collapseC2">
                            도전과제 / 스팀
                        </button>
                    </h5>
                </div>
                <div id="collapseC2" class="collapse" aria-labelledby="challenge2" data-parent="#achievementsAccordion">
                    <div class="card-body">
                        <p th:if="${challenge.countForSteam < 10}">도전과제: 스팀 게임을 10개 이상 구매하세요</p>
                        <p th:if="${challenge.countForSteam >= 10 && challenge.achievementForSteam == 0}">
                            보상을 받을 수 있습니다! <button class="btn btn-primary chal" data-challenge="steam">3000P+프로필아이콘 받기</button>
                        </p>
                        <p th:if="${challenge.achievementForSteam == 1}">스팀 게임 10개 이상 구매 및 보상 받기 완료!</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="challenge3">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseC3" aria-expanded="false" aria-controls="collapseC3">
                            도전과제 / 닌텐도
                        </button>
                    </h5>
                </div>
                <div id="collapseC3" class="collapse" aria-labelledby="challenge3" data-parent="#achievementsAccordion">
                    <div class="card-body">
                        <p th:if="${challenge.countForNintendo < 10}">도전과제: 닌텐도 게임을 10개 이상 구매하세요</p>
                        <p th:if="${challenge.countForNintendo >= 10 && challenge.achievementForNintendo == 0}">
                            보상을 받을 수 있습니다! <button class="btn btn-primary chal" data-challenge="nintendo">2000P+프로필아이콘 받기</button>
                        </p>
                        <p th:if="${challenge.achievementForNintendo == 1}">닌텐도 게임 10개 이상 구매 및 보상 받기 완료!</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="challenge4">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseC4" aria-expanded="false" aria-controls="collapseC4">
                            도전과제 / 플레이스테이션
                        </button>
                    </h5>
                </div>
                <div id="collapseC4" class="collapse" aria-labelledby="challenge4" data-parent="#achievementsAccordion">
                    <div class="card-body">
                        <p th:if="${challenge.countForPs < 10}">도전과제: 닌텐도 게임을 10개 이상 구매하세요</p>
                        <p th:if="${challenge.countForPs >= 10 && challenge.achievementForPs == 0}">
                            보상을 받을 수 있습니다! <button class="btn btn-primary chal" data-challenge="ps">3000P+프로필아이콘 받기</button>
                        </p>
                        <p th:if="${challenge.achievementForPs == 1}">닌텐도 게임 10개 이상 구매 및 보상 받기 완료!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="profileImgList" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    이미지를 클릭하면 프로필 사진이 변경됩니다.
                </div>
                <div class="modal-body">
                    <img th:src="@{icon/icon_playGround.svg}" class="imgCandidate pImgAvailable" title="회원가입 보상" alt="icon" data-pimg="playGround">
                    <img th:src="@{icon/icon_elf.svg}" class="imgCandidate pImgAvailable" title="기본 제공 아이콘" data-pimg="elf">
                    <img th:src="@{icon/icon_mage.svg}" class="imgCandidate pImgAvailable" title="기본 제공 아이콘" data-pimg="mage">
                    <img th:src="@{icon/icon_peasant.svg}" class="imgCandidate pImgAvailable" title="기본 제공 아이콘" data-pimg="peasant">
                    <img th:src="@{icon/icon_reaper.svg}" class="imgCandidate pImgAvailable" title="기본 제공 아이콘" data-pimg="reaper">
                    <img th:src="@{icon/icon_treant.svg}" class="imgCandidate pImgAvailable" title="기본 제공 아이콘" data-pimg="treant">
                    <img th:src="@{icon/icon_wolf.svg}" class="imgCandidate pImgAvailable" title="기본 제공 아이콘" data-pimg="wolf">

                    <!-- 도전과제용 아이콘-->
                    <th:block th:if="${challenge.achievementForMoney>=3}"><img th:src="@{icon/icon_gold.svg}" class="imgCandidate pImgAvailable" title="도전과제 달성 보상" data-pimg="gold"></th:block>
                    <th:block th:if="${challenge.achievementForMoney>=2}"><img th:src="@{icon/icon_silver.svg}" class="imgCandidate pImgAvailable" title="도전과제 달성 보상" data-pimg="silver"></th:block></th:block>
                    <th:block th:if="${challenge.achievementForMoney>=1}"><img th:src="@{icon/icon_bronze.svg}" class="imgCandidate pImgAvailable" title="도전과제 달성 보상" data-pimg="bronze"></th:block></th:block>
                    <th:block th:if="${challenge.achievementForSteam>0}"><img th:src="@{icon/icon_steam.svg}" class="imgCandidate pImgAvailable" title="도전과제 달성 보상" data-pimg="steam"></th:block>
                    <th:block th:if="${challenge.achievementForNintendo>0}"><img th:src="@{icon/icon_nintendo.svg}" class="imgCandidate pImgAvailable" title="도전과제 달성 보상" data-pimg="nintendo"></th:block>
                    <th:block th:if="${challenge.achievementForPs>0}"><img th:src="@{icon/icon_ps.svg}" class="imgCandidate pImgAvailable" title="도전과제 달성 보상" data-pimg="ps"></th:block>

                    <th:block th:unless="${challenge.achievementForMoney>=3}"><img th:src="@{icon/icon_gold.svg}" class="imgCandidate pImgNot" title="도전과제 달성시 해금됩니다"></th:block>
                    <th:block th:unless="${challenge.achievementForMoney>=2}"><img th:src="@{icon/icon_silver.svg}" class="imgCandidate pImgNot" title="도전과제 달성시 해금됩니다"></th:block>
                    <th:block th:unless="${challenge.achievementForMoney>=1}"><img th:src="@{icon/icon_bronze.svg}" class="imgCandidate pImgNot" title="도전과제 달성시 해금됩니다"></th:block>
                    <th:block th:unless="${challenge.achievementForSteam>0}"><img th:src="@{icon/icon_steam.svg}" class="imgCandidate pImgNot" title="도전과제 달성시 해금됩니다"></th:block>
                    <th:block th:unless="${challenge.achievementForNintendo>0}"><img th:src="@{icon/icon_nintendo.svg}" class="imgCandidate pImgNot" title="도전과제 달성시 해금됩니다"></th:block>
                    <th:block th:unless="${challenge.achievementForPs>0}"><img th:src="@{icon/icon_ps.svg}" class="imgCandidate pImgNot" title="도전과제 달성시 해금됩니다"></th:block>

                </div>
            </div>
        </div>
    </div>

    <script>
        function showProfileImg(pImg){
            $("#getPImg").empty();
            var str='<img src="icon/icon_'+pImg+'.svg" class="user-image" style="width: 60px; height: 60px;"/>';
            $("#getPImg").append(str);
            $("#currentPImg").val(pImg);
        }

        $(document).ready(function() {
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            var pImg="[[${memberForm.profileImg}]]";
            showProfileImg(pImg);
            $('#pointDuration').on('change',function() {
                var selectedValue = $(this).val(); // 선택된 값 가져오기
                console.log("123123");
                $.ajax({
                    url: '/pointDuration', // 요청할 URL
                    method: 'GET',
                    data: { date: selectedValue }, // 서버에 보낼 데이터
                    success: function(pointList) {
                        $('#noticePoint').empty();
                        if (pointList && pointList.length > 0) {
                            $('#noticePoint').append(`<div>검색결과: ${pointList.length}건</div>`);

                            pointList.forEach(item => {
                                let card = `<div class="card">
                                                <span>${new Date(item.useDate).toLocaleString('ko-KR', { hour12: false })}</span>`;

                                if(item.orderStatus=='challenge'){
                                    card+=`<div>도전과제 : +${item.payPoint}</div>`;
                                } else {
                                    if (item.payPoint > 0) {
                                        if (item.orderStatus === 'ORDER') {
                                            card += `<div>포인트 적립 : +${item.payPoint}</div>`;
                                        } else {
                                            card += `<div>구매 취소 : +${item.payPoint}</div>`;
                                        }
                                    } else if (item.payPoint < 0) {
                                        card += `<div>구매 사용 : ${item.payPoint}</div>`;
                                    }
                                }
                                card += `</div>`;
                                $('#noticePoint').append(card);
                            });
                        } else {
                            $('#noticePoint').append(`
                                <div class="col-md-12 text-center">
                                    <h4>결과 없음</h4>
                                </div>
                            `);
                        }

                    },
                    error: function(xhr, status, error) {
                        alert("잠시 후 실행해주세요");
                    }
                });
            });

            $(".chal").on('click',function(e){

                var challenge = $(this).data('challenge');

                $.ajax({
                    url: "/acceptChallenge",
                    method: "post",
                    data:{challenge:challenge},
                    dataType:"text",
                    beforeSend : function(xhr){
                        xhr.setRequestHeader(header, token);
                    },success(result){
                        if(result!='notValid'){
                            var msg=""
                            switch (result) {
                                case "10": msg="10만원 결제";
                                    break;
                                case "40": msg="40만원 결제";
                                    break;
                                case "100": msg="100만원 결제";
                                    break;
                                case "steam": msg="스팀 10개주문";
                                    break;
                                case "nintendo": msg="닌텐도 10개주문";
                                    break;
                                case "ps": msg="플레이스테이션 10개주문";
                                    break;
                            }
                            alert(msg+" 도전과제 달성!");
                            location.reload();
                        }else{
                            alert("정보가 유효하지 않습니다. 관리자에게 문의해주세요.");
                        }
                    },error(){
                        alert("잠시 후 다시시도해주세요.");
                    }
                });

            });

            $("#profileImgBtn").on('click',function(){
                $("#profileImgList").modal('show');
            })

            $(".pImgAvailable").on('click',function(){
                var profileImg=$(this).data('pimg');

                if($("#currentPImg").val()==profileImg){
                    $("#profileImgList").modal('hide');
                    return;
                }
                console.log(profileImg);
                $.ajax({
                    url: '/changeProfileImg',
                    type: 'GET',
                    data:{profileImg:profileImg},
                    success: function(result) {
                        showProfileImg(result);
                        $("#profileImgList").modal('hide');
                    },
                    error: function(xhr, status, error) {
                        alert("잠시 후 다시 시도해주세요");
                    }
                });
            })

        });

    </script>

</div>