<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<style>
    .body {
        margin: 0px;
        padding: 0px;
        background-color: gray;
    }

    .minheader {
        text-align: right;
        color: black;
    }
</style>

<body>

    <div th:fragment="header">
        <div class="login minheader">
            <li class="minheader" sec:authorize="isAnonymous()">
                <a href="/members/login">로그인</a>
            </li>
            <li class="minheader" sec:authorize="isAuthenticated()">
                <a href="/members/modify">회원정보수정</a>
            </li>
            <li class="minheader" sec:authorize="isAuthenticated()">
                <a href="/members/logout">로그아웃</a>
            </li>
        </div>
    </div>
</body>

</html>