/* 기존 css------------------------------------------------- */

.itemDtl .mgb-15 {
    margin-bottom: 15px;
}

.itemDtl .mgt-30 {
    margin-top: 30px;
}

.itemDtl .mgt-50 {
    margin-top: 50px;
}

.itemDtl .repImgDiv {
margin-right: 15px;
height: auto;
width: 50%;
margin: auto 2%;
}

.itemDtl .repImg {
width: 100%;
height: 400px;
}


.itemDtl .wd50 {
    height: auto;
    width: 50%;
}

.itemDtl .itemdtl {
    margin-left: 20%;
    margin-right: 20%;
}

.itemDtl .dtlinfo {
    padding-left: 10px;
    font-weight: bolder;
    font-size: 18px;
}

.itemDtl .lead {
    padding: 10px;
}

.itemDtl .no-cursor {
    cursor: default;
}

.itemDtl .carousel-indicators {
    margin-top: 100px;
}

.itemDtl .carousel-indicators li {
    margin-top: 100px !important;
    background-color: gray;
}

.fa-chevron-left,
.fa-chevron-right {
    color: gray;
    font-size: 50px;
    margin: 10px 0px;
}


.itemDtl .d-block {
    margin: auto;
}

.itemDtl .carousel-inner {
    width: 700px;
    height: 700px;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin: auto;
}

.itemDtl .carousel-item {
    height: 100%;
}

.itemDtl .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemDtl .responsive-img {
    width: 800px;
    /* 기본 화면에서의 너비 */
    max-width: 100%;
    /* 기본 너비보다 커지지 않도록 제한 */
    height: auto;
    /* 비율 유지 */
}

.itemDtl .instructions {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.itemDtl .instructions h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.itemDtl .instructions ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.itemDtl .instructions li {
    margin-bottom: 10px;
}

.itemDtl .instructions strong {
    color: #0073e6;
    /* 강조할 부분에 색상 추가 */
}

/* 기존 css------------------------------------------------- */
/* review List 수정 - 신영 *************************************/
.itemDtl .custom-dropdown-menu {
    position: absolute;
    top: 100px;
    /* 상단에서 100px의 위치 */
    right: 50px;
    /* 오른쪽에서 50px의 위치 */
}

/* 리뷰 정렬버튼 */
.itemDtl #currentSortMethod {
    font-size: 20px;
    height: 20px;
    margin-bottom: 10px;
    bottom: 10px;
}
.fa-lines-leaning {
    font-size: 20px; /* 아이콘 크기 조정 */
}

/* 리스트 테두리제거 - 신영 */
.itemDtl .review-item {
    border: none;
    /* 테두리 제거 */
    border-bottom: 0.2px solid #a1a3a5;
    /* 아래쪽 테두리만 추가 */
}

/* 페이지네이션 -신영*/
.itemDtl .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* 버튼 사이 간격 */
    margin-top: 20px;
}

.itemDtl .pagination button,
.pagination .page-number {
    background-color: #f1f1f1;
    /* 버튼 배경색 */
    border: 1px solid #ddd;
    /* 버튼 테두리 */
    color: #333;
    /* 텍스트 색상 */
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    min-width: 32px;
    /* 버튼 크기 균일하게 설정 */
    text-align: center;
}

.itemDtl .pagination button:hover,
.pagination .page-number:hover {
    background-color: #e0e0e0;
    /* 호버 시 배경색 */
}

.itemDtl .pagination .page-number.active {
    background-color: #d3d3d3;
    /* 현재 페이지 색상 */
    font-weight: bold;
    color: #000;
    /* 현재 페이지 텍스트 색상 */
    pointer-events: none;
    /* 클릭 불가 */
}

/* 별 색 바꾸기 */
/* 채워진 별 */
.itemDtl .starrr .fa-star {
    color: #FFD700;
    /* 채워진 별 색상 (노란색) */
}

/* 빈 별 */
.itemDtl .starrr .fa-star-o {
    color: #d3d3d3;
    /* 빈 별 색상 (회색) */
}

/* 추천아이콘 */
.itemDtl .btn-outline-primary {
    background-color: transparent;
    border-color: transparent;
    color: #808080;
    /* 글자 색상을 #808080으로 설정 */
    font-size: 18px;
}

.itemDtl .btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    background-color: #808080;
    /* 마우스 오버, 포커스, 활성 상태에서 배경 색상을 #808080으로 설정 */
    color: white;
    /* 마우스 오버, 포커스, 활성 상태에서 글자 색상을 흰색으로 설정 */
    border-color: #808080;
    /* 마우스 오버, 포커스, 활성 상태에서 테두리 색상을 #808080으로 설정 */
}

/* 추천된 버튼 스타일 */
.itemDtl .btn-primary {
    background-color: transparent;
    border-color: transparent;
    color: #808080;
    /* 글자 색상을 흰색으로 설정 */
    font-size: 18px;

}

.itemDtl .btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #666666;
    /* 마우스 오버, 포커스, 활성 상태에서 조금 더 어두운 회색으로 변경 */
    color: white;
    border-color: #666666;
    /* 마우스 오버, 포커스, 활성 상태에서 테두리 색상을 조금 더 어두운 회색으로 변경 */
}

/* 등록버튼 -신영 */
/* 게임 평가하기 버튼의 기본 스타일 */
.itemDtl .addReviewBtn {
    background-color: white;
    /* 배경색을 하얀색으로 설정 */
    color: black;
    /* 글자색을 검정색으로 설정 */
    border: 1px solid black;
    /* 테두리를 검정색으로 설정 */
}

/* 게임 평가하기 버튼의 hover 상태 스타일 */
.itemDtl .addReviewBtn:hover {
    background-color: #808080;
    /* 마우스 오버 시 배경색을 #808080(회색)으로 변경 */
    color: white;
    /* 마우스 오버 시 글자색을 흰색으로 변경 */
    border-color: #808080;
    /* 마우스 오버 시 테두리 색상을 #808080로 변경 */
}

/* 리뷰별점-신영 */
.itemDtl .rating-value {
    text-align: center;
    /* 내용을 중앙으로 정렬 */
    font-family: Arial, sans-serif;
    /* 폰트 스타일 설정 */
}

.itemDtl .rating-count {
    text-align: center;
    /* 내용을 중앙으로 정렬 */
    font-family: Arial, sans-serif;
    /* 폰트 스타일 설정 */
}

.itemDtl .rating-value>span {
    font-size: 40px;
    /* 평점 폰트 크기 설정 */
    font-weight: bold;
    /* 폰트 굵기 */
    display: block;
    /* 요소를 블록 레벨로 표시 */
    margin-bottom: 5px;
    /* 아래쪽 여백 설정 */
    font-family: Arial, sans-serif;
    /* 폰트 스타일 설정 */
}

.itemDtl i.fa-star {
    color: #FFD700;
    /* 별 색상 설정 */
    margin-right: 3px;
    /* 별 오른쪽 여백 설정 */
}

.itemDtl i.far.fa-star {
    /* 빈 별 스타일 */
    color: #ccc;
    /* 빈 별 색상 설정 */
}


/* 리뷰 부분 끝 *******************************************************/
/* 상세보기 시작**************************************************** */
.itemDtl .totalPrice {
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-align: right;
    margin-top: 10px;

}

.itemDtl #totalPrice {
    text-align: right;
    /* 오른쪽으로 텍스트 정렬 */
    font-size: 20px;
    /* 글자 크기 */
    font-family: Arial, sans-serif;
}

.itemDtl .firstPrice{
    margin-bottom: 10px;
}
/* 선들*********************** */
.itemDtl .my-4-4 {
    border-top: 2px solid rgb(158, 158, 158);
    /* 선의 두께를 3px, 색상을 빨간색으로 설정 */
    margin-top: 1rem;
    /* 위 마진 */
    margin-bottom: 1.5rem;
    /* 아래 마진 */
}

.itemDtl .my-4-2{
    margin-top: 7rem;
    /* 위 마진 */
    margin-bottom: 3rem;
    /* 아래 마진 */
}

.itemDtl .input-group.w-50 {
    width: 100%;
    /* 너비를 50%로 설정 */
    margin-left: auto;
    /*오른 정렬*/
    font-family: Arial, sans-serif;
    /* 폰트 스타일 설정 */
    font-weight: bold;
    /* 폰트 굵기 */
}

/* 안내바 css */
.itemDtl {
    scroll-behavior: smooth;
    /* 스무스 스크롤 */
}

.itemDtl .sticky-nav {
    border-top: 1px solid #ccc;
    margin-top: 50px;
    display: flex;
    /* Flexbox 레이아웃 적용 */
    justify-content: space-around;
    /* 요소들을 공간을 균등하게 나눠서 배치 */
    position: -webkit-sticky;
    /* Safari 브라우저 지원 */
    position: sticky;
    top: 0;
    /* 상단 고정 */
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    /* 다른 요소 위에 위치 */
    padding: 10px 0;
}

.itemDtl .info-item a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 100px;
    display: block;
}

.itemDtl .info-item a:hover {
    background-color: #e9ecef;
    border-radius: 5px;
}
.itemDtl .priceform{
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
}
/* 최상단 안내 nav */
.itemDtl .breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    background: transparent;
}

.itemDtl .breadcrumb-link {
    color: red;  /* 링크는 빨간색 */
    text-decoration: none;
    font-weight: bold;
}
.itemDtl .breadcrumb-link:hover {
    color: #7FDA56; /* 마우스 오버 시 #7FDA56 색상으로 변경 */
}

.itemDtl .breadcrumb-separator {
    margin: 0 5px;
    color: gray;
}

.itemDtl .breadcrumb-current {
    color: black; /* 현재 위치는 회색 */
}
/* 구매 가이드 문구 */
.itemDtl .guide{
    display: block; /* span을 블록 요소로 만들어 줍니다. */
    margin-top: 50px; /* 위쪽으로 20px의 여백을 추가합니다. */
    font-weight: bold;
    font-size: 25px;
    color: red;
}
/* 리뷰 모달 시작 *****************************************/
/* 리뷰제목 중앙정렬 하고 싶은데 안된 */
.itemDtl .review-current{
    text-align: center; /* 가로 중앙 정렬 */
}
/* 리뷰모달창 별모양 */
.itemDtl .starrr.reviewmodalstarrr a {
    font-size: 50px; /* 별 크기를 원하는 크기로 키웁니다 */            
}
.itemDtl .starrr.reviewmodalstarrr {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: flex-start; /* 세로 정렬을 위쪽으로 고정 */
}
.itemDtl #divGrade {
    text-align: center; /* 가로 중앙 정렬 */
}
.itemDtl #label-container {
    text-align: center; /* 텍스트를 중앙 정렬 */
    font-weight: bold;
}
.itemDtl .reviewment{
    font-weight: bold;
}
/*리뷰모달창 버튼 */
.itemDtl .modal-footer button {
    width: 50%; /* 각 버튼이 50%의 폭을 가짐 */
    flex: 1 1 0; /* Flexbox를 사용하여 각 버튼이 유연하게 늘어나거나 줄어들 수 있게 함 */
}
.itemDtl .closeModal:hover {
    background-color: #6c757d; /* 진회색으로 변경 */
    border-color: #6c757d; /* 테두리도 진회색으로 변경 */
}
.itemDtl .closeModal {
    background-color: white; /* 진회색으로 변경 */
    border-color: #a9a9aa; /* 테두리도 진회색으로 변경 */
    color : #a9a9aa;
}
.itemDtl .saveModal:hover {
    background-color: #7FDA56 !important; /* 진회색으로 변경 */
    border-color: #7FDA56 !important; /* 테두리도 진회색으로 변경 */
    color : white !important;
}
.itemDtl .saveModal{
    background-color: #a9a9aa !important; /* 연한 회색, 필요에 따라 색상 코드 변경 가능 */
    border-color: #f8f9fa !important; /* 테두리 색상도 맞춤 */
}
.itemDtl .modalRemove{
    display: none;
}
/* 장바구니버튼들 */
.custombar{
    width: 50%;
    left: 51%;
    position: relative;
}
.text-right{
    display: flex;
    justify-content: space-between; /* 버튼들 사이의 공간을 균등하게 배분 */
    align-items: center; /* 세로 중심으로 정렬 */
    background-color: transparent; /* 배경색 설정 */
    padding: 5px 20px; /* 패딩으로 버튼 사이의 간격 조절 */
}
/* 장바구니 버튼 */
.itemDtl .btn-custom{
    background-color: transparent; /* 장바구니 버튼 색상 */
    color: black; /* 텍스트 색상 */
    font-size: 16px; /* 폰트 크기 */
    border: 1px solid black; /* 테두리 제거 */
    border-radius: 10px; /* 양쪽 끝을 둥글게 처리 */
    /* padding: 10px 1px; 상하, 좌우 패딩 */
    flex-grow: 1; /* 가용 공간을 모두 차지하도록 설정 */
    margin-right: 10px; /* 우측 버튼과의 간격 */
    height: 50px; /* 버튼 높이 설정 */
    font-weight: bold;
}

.itemDtl .btn-order {
    background-color: #80da5660; /* 장바구니 버튼 색상 */
    color: black; /* 텍스트 색상 */
    font-size: 16px; /* 폰트 크기 */
    border: 1px solid gray; /* 테두리 제거 */
    border-radius: 10px; /* 양쪽 끝을 둥글게 처리 */
    /* padding: 10px 1px; 상하, 좌우 패딩 */
    flex-grow: 1; /* 가용 공간을 모두 차지하도록 설정 */
    margin-right: 10px; /* 우측 버튼과의 간격 */
    height: 50px; /* 버튼 높이 설정 */
    font-weight: bold;
}

.itemDtl .btn-custom:hover,
.btn-order:hover {
    background-color: #3E7D3A;
    /* 마우스 오버 시 배경 색상 */
    color: white;
    /* 마우스 오버 시 글자 색상 */
    font-weight: bold;
    
}

/* dibs 버튼 */
.itemDtl .wish-button {
    display: flex;
    justify-content: flex-end; /* 자식 요소를 오른쪽으로 정렬 */
    background-color: transparent; /* 검은색 배경 */
    color: rgb(88, 88, 88); /* 흰색 아이콘 */
    border: 1px solid black; /* 원형 검정색 테두리 */
    border-radius: 10px; /* 원형 버튼 */
    width: 56px; /* 버튼 너비 */
    height: 56px; /* 버튼 높이 */
    display: flex;
    align-items: center; /* 수직 정렬 */
    justify-content: center; /* 수평 정렬 */
    font-size: 24px; /* 아이콘 크기 */
    transition: background-color 0.3s, color 0.3s; /* 부드러운 색상 변화 */

}

.itemDtl .wish-button:hover {
    background-color: #DC3545; 
    color: white;
    border: 2px solid #DC3545; 
    cursor: pointer; /* 호버 시 커서 변경 */
}

.itemDtl .wish-button.active::before,
.itemDtl .wish-button.active::after,
.itemDtl .wish-button.active{
    background-color: #DC3545; 
    color: white;
    border: 2px solid #DC3545; 
}

/* 품절버튼 */
.itemDtl .btn-soldout {
    background-color: transparent; /* 장바구니 버튼 색상 */
    color: black; /* 텍스트 색상 */
    font-size: 30px; /* 폰트 크기 */
    border: black; /* 테두리 제거 */
    border-radius: 10px; /* 양쪽 끝을 둥글게 처리 */
    /* padding: 10px 1px; 상하, 좌우 패딩 */
    flex-grow: 1; /* 가용 공간을 모두 차지하도록 설정 */
    margin-right: 10px; /* 우측 버튼과의 간격 */
    height: 50px; /* 버튼 높이 설정 */
    font-weight: bold;
}
.itemDtl .text-center{
    margin: 0px;
    padding: 0px;
    
}