html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.content{
    margin-bottom:100px;
    margin-top: 50px;
    margin-left: 175px;
    margin-right: 175px;
}

li,ul{
    text-decoration:none ;
}

/* main */
.main .carousel-inner > .item {
    height: 350px;
}
.main .margin{
    margin-bottom:30px;
}
.main .banner{
    height: 300px;
    position: absolute; top:0; left: 0;
    width: 100%;
    height: 100%;
}
.main .card-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main a{
    text-decoration: none;
}
.main a:hover{
    text-decoration:gray;
}
.main .center{
    text-align:center;
}
/* itemList */
.itemList .carousel-inner > .item {
    height: 350px;
}
.itemList .margin{
    margin-bottom:30px;
}
.itemList .banner{
    height: 300px;
    position: absolute; top:0; left: 0;
    width: 100%;
    height: 100%;
}
.itemList .card-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.itemList a{
    text-decoration: none;
}
.itemList a:hover{
    text-decoration:gray;
}
.itemList .center{
    text-align:center;
}

.itemList .sold-out-filter {
    filter: grayscale(100%);
    opacity: 0.5;
}
.itemList .sold-out-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
}



