/* cartList--------------------------------------------------------*/
.cartList .content-mg {
margin-left: 25%;
margin-right: 25%;
margin-top: 2%;
margin-bottom: 100px;
}

.cartList .repImgDiv {
margin-right: 15px;
margin-left: 15px;
height: auto;
}

.cartList .repImg {
height: 100px;
width: 100px;
}

.cartList .fs18 {
font-size: 18px
}

.cartList .fs24 {
font-size: 24px
}

/* itemDtl--------------------------------------------------------*/

.itemDtl .mgb-15 {
margin-bottom: 15px;
}

.itemDtl .mgt-30 {
margin-top: 30px;
}

.itemDtl .mgt-50 {
margin-top: 50px;
}

.itemDtl .repImgDiv {
margin-right: 15px;
height: auto;
width: 50%;
}

.itemDtl .repImg {
width: 100%;
height: 400px;
}

.itemDtl .wd50 {
height: auto;
width: 50%;
}

.itemDtl .itemdtl {
margin-left: 20%;
margin-right: 20%;
}

.itemDtl .dtlinfo {
padding-left: 10px;
font-weight: bolder;
font-size: 18px;
}

.itemDtl .lead {
padding: 10px;
}

.itemDtl .no-cursor {
cursor: default;
}
.itemDtl .carousel-indicators{
margin-top:100px;
}
.itemDtl .carousel-indicators li {
margin-top:100px !important;
background-color: gray;
}

.itemDtl .fa-solid {
color: gray;
font-size: 50px;
margin: 10px 0px;
}

.itemDtl .d-block {
margin: auto;
}

.itemDtl .carousel-inner {
    width: 700px;
    height: 700px;
    overflow: hidden;
    position: relative;
    text-align:center;
    margin:auto;
}

.itemDtl .carousel-item {
    height: 100%;
}

.itemDtl .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* itemForm--------------------------------------------------------*/

.itemForm .input-group {
margin-bottom: 15px
}

.itemForm .img-div {
margin-bottom: 10px
}

.itemForm .fieldError {
color: #bd2130;
}

.itemForm .label {
padding-top: 5px;
padding-left: 10px;

}

.itemForm .itemformbtn {
text-align: center;
}

/* itemMng--------------------------------------------------------*/
.itemMng .select {
margin-right: 10px;
width: auto;
}

.itemMng .cartsrc {
margin: 20px;
}

/* orderHist--------------------------------------------------------*/
.orderHist .content-mg {
margin-left: 30%;
margin-right: 30%;
margin-top: 2%;
margin-bottom: 100px;
}

.orderHist .repImgDiv {
margin-right: 15px;
margin-left: 15px;
height: auto;
}

.orderHist .repImg {
height: 100px;
width: 100px;
}

.orderHist .card {
width: 750px;
height: 100%;
padding: 30px;
margin-bottom: 20px;
}

.orderHist .fs18 {
font-size: 18px
}

.orderHist .fs24 {
font-size: 24px
}